@model sashkogram.Models.PhotoViewModel

@{
    ViewBag.Title = "AddAvatar";
    Layout = "~/Views/Shared/sashkogram_layout.cshtml";
}

<h2>Add Avatar</h2>

@using (Html.BeginForm("AddAvatar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"> 

        <hr />
        <input name="ProfileViewModelId" id="ProfileViewModelId" value="@ViewBag.ProfileId" type="hidden" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input id="uploadImage" class="inputFile" type="file" name="uploadImage" value="Browse" />
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
