@model IEnumerable<InspectionBoard.Domain.Entity.Specialty>
@using InspectionBoard.Domain.Entity;
@using InspectionBoard.Domain.BuisnessLogic;
@{
    ViewBag.Title = "Спеціальність";
    Layout = "~/Views/Shared/Body.cshtml";
    SpecialtyRepository specialty = new SpecialtyRepository();
}
@Styles.Render("~/Content/sortStyle.css")


<h2>Список спеціальностей</h2>

<table class="table " id="grid">
    <thead>
        <tr>
            <th data-type="string">
                Спеціальність
            </th>
            <td>
                Конкурс
            </td>
            <th data-type="number">
                Держ.зам.
            </th>
            <th data-type="number">
                Ліц.Обсяг
            </th>

            <td>
                Предмети:
            </td>
        </tr>
    </thead>
    <tbody>
        @{
            Applicant applicant = ViewBag.Applicant;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <br />
                    <br />
                    @{
                        List<object> ides = new List<object>();
                    }

                    @foreach (var index in specialty.FindById(item.Id).Statements)
                        {
                            if (specialty.LoadApplicant(index).Applicant.Id.Equals(applicant.Id))
                            {
                                ides.Add(applicant.Id);
                            }

                        }
                    @if (!ides.Contains(applicant.Id))
                    {
                        <a href="/Home/Statements/@item.Id" class="btn btn-primary">Зареєструватися</a>
                    }
                    else
                    {
                        <p>Ви вже надіслали заявку.</p>
                    }
                    @*@if (specialty.LoadApplicant(index).Applicant.Id.Equals(applicant.Id))
                    {
                        <a href="/Home/Statements/@item.Id" class="btn btn-primary">Зареєструватися</a>
                    }
                    else
                    {
                        <p>Ви вже надіслали заявку.</p>
                    }*@
                    
                     
                </td>
                <td>
                    Заяв:
                    @Html.DisplayFor(modelItem => item.NumberOfApplications)
                    <p><a href="/Home/DisplayStatements/@item.Id" class="btn btn-primary btn-sm">Конкурс</a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>

                <td>
                    @{
                        SubjectRepository subject = new SubjectRepository();
                    }

                    @foreach (var index in subject.SubjectForSpecialty(item.Id).Subjects)
                    {
                        <p>@index.Name</p>
                    }


                </td>

            </tr>

        }
    </tbody>
</table>

@Scripts.Render("~/Scripts/scriptSort.js")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}